#profile {
  border-radius: 5px;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  img {
    height: 20px;
    width: 30px;
    padding: 0px 5px;
    border-radius: 50%;
  }

  .logged-in-reminder {
    display: flex;
    align-items: center;
  }
}

#profile-hover {
  position: absolute;
  background-color: violet;
  top: 100%;
  left: 0;
  div {
    background-color: green;
  }
}
